<% script_tag = javascript_include_tag("jquery", "mavensmate") %>
<% style_tag = style_include_tag("bootstrap", "mavensmate") %>
<html>
<head>
  	<title>MavensMate - Deploy Result</title>
	<script type="text/javascript">
		<% support = ENV['TM_BUNDLE_SUPPORT'] %>
		var TM_BUNDLE_SUPPORT = '<%= support %>';
	</script>
  	<% if ! @script_at_top %> 
    	<%= script_tag %>
  	<% end %>
	<%= style_tag %> 
   		
</head>
<body id='body'>
  	<div data-scrollspy="scrollspy" class="topbar">
      <div class="topbar-inner">
        <div class="container">
			<a href="#" class="brand" id="logo"></a>
        </div>
      </div>
    </div>
	<div id='debug'></div>
  	<div id='wrapper'>
    	<style>
			.bordered-table, .bordered-table td {
				-webkit-border-radius: 0px !important;
				border-radius: 0px !important;
			}

			.bordered-table {
				border-bottom:2px solid #ccc;
			}

			.table_wrapper table:last-child {
				border-bottom:1px solid #ddd !important;
			}

		</style>
		<div id="result" style="padding:5px 10px;">   
			<% if ! result[:is_success] %>
				<% deploy_type = (is_check_only == "1") ? "Validation of deployment" : "Deployment"  %>
				<div id="error_message" class="alert-message error" style="margin-bottom: 10px;">
					<p><strong><%= deploy_type %> to <%= destination %> failed!</strong></p>
				</div> 
			<% else %>
				<div class="alert-message success">
					<% deploy_type = (is_check_only == "1") ? "Validation of deployment" : "Deployment"  %>
					<p><strong>Success!</strong> <%= deploy_type %> to <%= destination %> completed successfully.</p>
				</div>
			<% end %>

				<div id="result_table_wrapper" class="table_wrapper" style="-webkit-border-radius: 4px 4px 4px 4px;overflow-y:auto;padding:0px;border:2px solid #ccc;">

					<% if result[:messages].size > 0 %>
					<div style="padding:5px 10px;background-color:#f2f2f2;border-bottom:2px solid #ccc;cursor:pointer;" onclick="$('#result_table').toggle();">Compile Messages</div>			
					<table id="result_table" class="bordered-table test_result" style="-webkit-border-radius: 4px 4px 4px 4px;border:none;margin-bottom:0px;border-bottom:1px solid #ddd">
						<thead>
							<tr>
								<th>Metadata</th>
								<th>Result</th>
								<th>Message</th>
							</tr>
						</thead>
						<tbody>
							<% result[:messages].each do |message| %>
								<%
									file_name = message[:file_name]
									fns = message[:file_name].split("/")
									file_name = fns[fns.length - 1]   			         	
									full_path =  "#{ENV['TM_PROJECT_DIRECTORY']}/src/#{message[:file_name]}"
									full_path.gsub!(/unpackaged\//, '')
									full_path = e_url full_path							
									#next if file_name == "package.xml"   					
								%>
								<tr>
									<td style="width:210px;"><a href="txmt://open?url=file://<%= full_path %>&line=<%= message[:line_number] %>"><%= file_name %></a></td>
									<td style="width:45px;">
										<% if ! message[:success] %>
											<span class="label important">Failed</span>
										<% else %>
											<span class="label success">Success</span>
										<% end %>
									</td>
									<td>
										<%- if ! message[:success] %><%= message[:problem] %> <%- if message[:line_number] %><br/>[Line: <%= message[:line_number] %>, Column: <%= message[:column_number] %>]<%- end %><%- end %>
									</td>
								</tr>
							<% end %>
						</tbody>
					</table>
				    <% end %>

					<% if result[:test_failures].size > 0 %> 
		   			<div style="padding:5px 10px;background-color:#f2f2f2;border-bottom:2px solid #ccc;cursor:pointer;" onclick="$('#test_failures_result_table').toggle();">Test Failures</div>			
					<table id="test_failures_result_table" class="bordered-table test_result" style="-webkit-border-radius: 4px 4px 4px 4px;border:none;margin-bottom:0px;border-bottom:1px solid #ddd">
						<thead>
							<tr>
								<th>Class</th>
								<th>Method</th>
								<th>Result</th>
								<th>Message</th>
							</tr>
						</thead>
						<tbody>
							<% result[:test_failures].each do |f| %>
								<tr>
									<td style="width:210px;"><%= f[:name] %></td>
									<td style="width:210px;"><%= f[:method_name] %></td>
									<td style="width:45px;">
										<span class="label important">Failed</span>
									</td>
									<td>
										<%= f[:message] %>
									</td>
								</tr>
							<% end %>
						</tbody>
					</table>
					<% end %>

					<% if result[:coverage_warnings].size > 0 %> 
					<div style="padding:5px 10px;background-color:#f2f2f2;border-bottom:2px solid #ccc;cursor:pointer;" onclick="$('#coverage_result_table').toggle();">Code Coverage Warnings</div>			
					<table id="coverage_result_table" class="bordered-table test_result" style="-webkit-border-radius: 4px 4px 4px 4px;border:none;margin-bottom:0px;border-bottom:1px solid #ddd">
						<thead>
							<tr>
								<th>Metadata</th>
								<th>Result</th>
								<th>Message</th>
							</tr>
						</thead>
						<tbody>
							<% result[:coverage_warnings].each do |warning| %>
								<tr>
									<td style="width:210px;"><%= warning[:name] %></td>
									<td style="width:45px;">
										<span class="label warning">Warning</span>
									</td>
									<td>
										<%= warning[:message] %>
									</td>
								</tr>
							<% end %>
						</tbody>
					</table>
		            <% end %>

					<% if result[:test_successes].size > 0 %>
					<div style="padding:5px 10px;background-color:#f2f2f2;border-bottom:2px solid #ccc;cursor:pointer;" onclick="$('#test_successes_result_table').toggle();">Test Successes</div>			
					<table id="test_successes_result_table" class="bordered-table test_result" style="-webkit-border-radius: 4px 4px 4px 4px;border:none;margin-bottom:0px;border-bottom:1px solid #ddd">
						<thead>
							<tr>
								<th>Class</th>
								<th>Method</th>
								<th>Result</th>
								<th>Message</th>
							</tr>
						</thead>
						<tbody>
							<% result[:test_successes].each do |s| %>
								<tr>
									<td style="width:210px;"><%= s[:name] %></td>
									<td style="width:210px;"><%= s[:method_name] %></td>
									<td style="width:45px;">
										<span class="label success">Success</span>
									</td>
									<td>
										<%= s[:message] %>
									</td>
								</tr>
							<% end %>
						</tbody>
					</table>
					<% end %>

				</div>

		</div> 

		<form class="form-stacked" id="action_buttons" style="padding-left:12px;">
			<fieldset style="padding-top:0px;">
				<div class="actions">					
					<input id="btnClose" type="button" class="btn primary" value="Close Window"  onclick='window.close()'>
				</div>
			</fieldset>
		</form>

		<script type="text/javascript">

		var resizeHeight = $("#result").height();

		window.resizeTo(650, resizeHeight+155);
		try {
			$("#deploy_output").height(height);
		} catch(e) { }	
		window.moveTo((screen.width-650)/2,(screen.height-document.getElementById('wrapper').offsetHeight-400)/2);

		$(function() {
			//remove exit code
			var str = $("body").html();
			var newStr = str.substring(0, str.length-1);
			$("body").html(newStr);
	        $("#result_table_wrapper").height($(window).height() - 175)
			// $(window).resize(function() {
			// 		        $("#result_table_wrapper").height($(window).height() - 175)
			// 		    });
		})
		
		$(window).resize(function() {
	        $("#result_table_wrapper").height($(window).height() - 175)
	    });

		</script>
	</div>
</body>

</html>