<% metadata_array.each do |hash| %>
	<% 
		next if !hash[:children]
		next if hash[:children].size == 0
		class_name = (hash[:children] && hash[:children].size > 0) ? "folder" : "" 
	%>
	<li data="level: 1, hasChildTypes: <%=hash[:hasChildTypes]%>, inFolder: <%=hash[:inFolder]%>" id="<%= hash[:key] %>" class="<%= hash[:selected] %> folder level1"><%= hash[:title] %>					
		<% if hash[:children] %>
		<ul>
			<% hash[:children].each do |child| %>
				<% child_class_name = (child[:children] && child[:children].size > 0) ? "folder" : "" %>
				<li data="level: 2" id="<%= child[:key] %>" class="<%= child[:selected] %> <%= child_class_name %> level2"><%= child[:title] %>
				<% if child[:children] && child[:children].size > 0 %>
					<ul>
						<% child[:children].each do |gchild| %>
							<li data="level: 3" class="<%= gchild[:selected] %> level3"><%= gchild[:title] %>
								<% if gchild[:children] && gchild[:children].size > 0 %>
									<ul>
										<% gchild[:children].each do |ggchild| %>
											<li data="level: 4" class="<%= ggchild[:selected] %> level4"><%= ggchild[:title] %></li>
										<% end %>
									</ul>
								<% end %>
							</li>
						<% end %>
					</ul>
				<% end %>
				</li>
			<% end %>
		</ul>
		<% end %>
	</li>
<% end %>