<link href="<%=ENV['TM_BUNDLE_SUPPORT']%>/resource/css/multiselect.css" rel="stylesheet" type="text/css"/> 
<link href="<%=ENV['TM_BUNDLE_SUPPORT']%>/resource/css/progress.css" rel="stylesheet" type="text/css"/>
<script src="<%=ENV['TM_BUNDLE_SUPPORT']%>/resource/js/multi-select.js" type="text/javascript"></script>
<script src="<%=ENV['TM_BUNDLE_SUPPORT']%>/resource/js/buttons.js" type="text/javascript"></script>
<script src="<%=ENV['TM_BUNDLE_SUPPORT']%>/resource/js/modal.js" type="text/javascript"></script>

<style>
.results_hidden {
    display:none;
}

#mm_logger {
	display:none;
	height:200px;
	overflow-y:auto;
	padding:10px;
	border:1px solid #f2f2f2;
}

table.code {
	display:none;
}

table.code td {
	padding:0px;
}

table.code {
	border: 1px solid #CCC;
	width: 100%;
	border-collapse: collapse;
	font: 95%/105% "Consolas", Monaco, "Courier New", Courier, "Bitstream Vera Sans Mono", monospace;
}

table.code thead .line_numbers, table.code thead {
	background: #DDD;
}

table.code td.covered {
	background: #DFD;
}

table.code td.not_covered { 
	background: #fdd; 
}

table.code tr td.line_numbers {
	text-align: right;
	vertical-align: top;
	background: #EEE;
	color: #555;
	font-size: 90%;
	padding: 2px;
	padding-top: 0;
	width: 35px;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #DDD;
	vertical-align:middle;
}

table.code td {
	vertical-align:middle;
	border-top: 1px dotted #b5b5b5;
}

.block-message-custom {
	background-image: none;
	background-color: #F2F2F2;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	padding: 14px;
	border-color: #CCC;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.alert-message .btn {
	font-weight:normal;
}

/*.container {
	width: 100%;
	margin-left: 12px;
	}  */

	h4 {
		background: none repeat scroll 0 0 #777777;
		border: none;
		font-weight:normal;
		border-radius: 4px 4px 0 0;
		color: #FFFFFF;
		margin: 0;
		padding: 3px;
		text-align: center;
		line-height:1.3;
		
		background-color:#222;background-color:#222222;background-repeat:repeat-x;background-image:-khtml-gradient(linear, left top, left bottom, from(#333333), to(#222222));background-image:-moz-linear-gradient(top, #333333, #222222);background-image:-ms-linear-gradient(top, #333333, #222222);background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #222222));background-image:-webkit-linear-gradient(top, #333333, #222222);background-image:-o-linear-gradient(top, #333333, #222222);background-image:linear-gradient(top, #333333, #222222);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);box-shadow:0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);



		
	}

	.ms-selectable, .ms-selection {
		width:292px;
	}

	.ms-container {
		background: none !important;
	}

	.ms-selectable {
		margin-right:10px !important;
		margin-bottom: 10px !important;
	}

	table.test_result {
		border-top:none;
	}
	table.test_result th, table.test_result td {
		padding:5px;
		line-height:1;
	}

	embed.hidden {
		position: absolute;
		left: -10000px;
	}
	
	</style>
	<div class="content" id="content1">	

		<ul class="tabs">
			<li class="active"><a href="#tests_content">Apex Tests</a></li>
			<li class="game"><a href="#arcade">Arcade</a></li>
			<li class="results_hidden"><a href="#tests_results" id="a_result">Test Results</a></li>
			<li class="results_hidden"><a href="#class_coverage" id="b_result">Class Coverage</a></li>
			<li class="results_hidden"><a href="#trigger_coverage" id="c_result">Trigger Coverage</a></li>
			<li class="results_hidden"><a href="#warnings" id="d_result">Warnings</a></li>
			<li class="results_hidden"><a href="#log" id="e_result">Log</a></li>
		</ul> 

		<div class="pill-content">
			<div class="active" id="tests_content">
				<div style="" class="headers">
					<form style="margin-bottom:5px;">
						<select id="tests" multiple="multiple" class="multiselect" style="display: none;">
							<% 
							selected_file = ENV['TM_FILEPATH'] || ENV['TM_SELECTED_FILE']
							base_name = ""
							if ! selected_file.nil? and selected_file.include? ".cls"
								if selected_file.include? "-meta.xml"
									selected_file = selected_file.gsub("-meta.xml", "")
								end
								base_name = File.basename(selected_file, ".cls")
							end
							%>
							<% classes.each do |cls| %>
							<% selected = (cls == base_name) ? "selected=\"selected\"" : "" %>
							<option <%= selected %> value="<%= cls %>"><%= cls %></option>
							<% end %>
						</select>
					</form>
				</div>
				<form class="form" style="margin:0px;">
					<fieldset style="margin:0px;padding:0px;">
						<div class="clearfix">
							<label for="api" style="width:110px;margin-right:10px;">Endpoint</label>
							<select id="api">
								<option value="metadata">Metadata API</option>
								<option value="apex">Apex API</option>
							</select>
						</div>
						<div class="clearfix">
							<label for="category" style="width:110px;margin-right:10px;">Log Category</label>
							<select id="category">
								<option>Db</option>
								<option>Workflow</option>
								<option>Validation</option>
								<option>Callout</option>
								<option value="Apex_code" selected="true">Apex Code</option>
								<option value="Apex_profiling">Apex Profiling</option>
								<option>All</option>
							</select>
						</div>
					</fieldset>
					<fieldset style="margin:0px;padding:0px;">
						<div class="clearfix" id="levelwrapper">
							<label for="level" style="width:110px;margin-right:10px;">Log Level</label>
							<select id="level">
								<option value="ERROR">ERROR</option>
								<option value="WARN">WARN</option>
								<option value="INFO">INFO</option>
								<option value="DEBUG" selected="true">DEBUG</option>
								<option value="FINE">FINE</option>
								<option value="FINER">FINER</option>
								<option value="FINEST">FINEST</option>
							</select>
						</div>
					</fieldset>
				</form>
			</div>
			<div class="content" id="arcade">
				<ul class="tabs tabs-below">
					<li class="game"><a href="#game_pacman">Pacman</a></li>
					<li class="game"><a href="#game_tetris">Tetris</a></li>
					<li class="game"><a href="#game_donkey">Donkey Kong</a></li>
				</ul>
				<div class="pill-content">
					<div class="active" id="game_pacman">
						<embed class="flash_game" src="http://www.classicgamesarcade.com/games/pacman.swf" width="100%" height="75%" autostart="true" loop="false" controller="true" id="pacman"></embed>
					</div>
					<div id="game_tetris">
						<embed src="http://www.classicgamesarcade.com/games/flash-tetris.swf" width="100%" height="75%" autostart="true" loop="false" controller="true" id="tetris" class="flash_game"></embed>
					</div>
					<div id="game_donkey">
						<embed src="http://www.classicgamesarcade.com/games/donkeykong.swf" width="100%" height="75%" autostart="true" loop="false" controller="true" id="donkey" class="flash_game"></embed>
					</div>
				</div>
			</div>

			<div id="tests_results">
				<div id="result_output">
					<div id="result_wrapper" style="-webkit-border-radius: 4px 4px 4px 4px;overflow-y:auto;padding:0px;position:relative;">
					</div>
				</div>
			</div>
			<div id="class_coverage">
				<div id="class_coverage_wrapper" style="-webkit-border-radius: 4px 4px 4px 4px;overflow-y:auto;padding:0px;position:relative;">
				</div>   
			</div>
			<div id="trigger_coverage">
				<div id="trigger_coverage_wrapper" style="-webkit-border-radius: 4px 4px 4px 4px;overflow-y:auto;padding:0px;position:relative;">
				</div>
			</div>
			<div id="warnings">
				<div id="warnings_coverage_wrapper" style="-webkit-border-radius: 4px 4px 4px 4px;overflow-y:auto;padding:0px;position:relative;">
				</div>
			</div>
			<div id="log">
				<div id="log_coverage_wrapper" style="-webkit-border-radius: 4px 4px 4px 4px;overflow-y:auto;padding:0px;position:relative;">
				</div>
			</div>
		</div> 
	</div>

	<form class="form-stacked" id="action_buttons" style="padding-left:12px;">
		<fieldset style="padding-top:0px;position:relative;">
			<div class="actions">					
				<input type="button" class="btn primary" value="Run Tests" onclick="run_tests()" id="btnRunTests"> 
				&nbsp;
				<button type="reset" class="btn" onclick="window.close();">Cancel</button>
			</div>
			<img src="<%=ENV['TM_BUNDLE_SUPPORT']%>/resource/images/big_loading.gif" style="position:absolute;top:13px;right:25px;width:36px;display:none;" id="running_tests_indicator"/>
		</fieldset>
	</form>


	<script>

	function handle_response(response) {
		$("#result_wrapper").html(response["body"])

		$("#class_coverage_wrapper").html(
			$("#class_wrapper").html()
			)
		$("#trigger_coverage_wrapper").html(
			$("#trigger_wrapper").html()
			)
		$("#warnings_coverage_wrapper").html(
			$("#warnings_wrapper").html()
			)
		$("#log_coverage_wrapper").html(
			$("#log_wrapper").html()
			)
		$("#class_wrapper").remove()
		$("#trigger_wrapper").remove()
		$("#warnings_wrapper").remove()
		$("#log_wrapper").remove()

		$(".results_hidden").show();
		if ($("#arcade").css("display") == "none") {
			$("#a_result").click();
			window.resizeTo(760, document.getElementById('result_wrapper').scrollHeight+175);	
		}

		hideElement("running_tests_indicator");
		$("#btnRunTests").show();
	}

	function run_tests() {
		$.ajax({
			type: "POST",
			url: "http://127.0.0.1:7777/test", 
			dataType: "html",
			data: {
				selected_tests: $('#tests').val().join(),
				mm_current_project_directory: '<%= ENV['MM_CURRENT_PROJECT_DIRECTORY'] %>',
				level: $("#level").val(),
				category: $("#category").val(),
				api: $("#api").val()
			},
			beforeSend: function() { showElement("running_tests_indicator"); $("#btnRunTests").hide() },
			complete: function(data){
				console.log(data)
				var response = JSON.parse(data.responseText)
				check_status(response["id"])				
			} 
		});
}

function resize() {
	window.resizeTo(675, 570);
}

function resize_height() {
	window.resizeTo(window.width, document.getElementById('content1').offsetHeight+65);
}

function resize_test_container_sizes() {
	$(".ms-selectable, .ms-selection").css("width", $(window).width()/2 - 20)
	$(".ms-selectable, .ms-selection").css("height", $(window).height() - 325)
	$(".ms-list").css("height", $(".ms-selectable").height()-40)
}

$(function(){
	$('#tests').multiSelect({
		selectableHeader : '<div class="alert-message block-message-custom" style="padding: 7px 12px !important;border:none;border-bottom:1px solid #ccc;margin-bottom:0px;padding: 5px;-webkit-border-radius: 4px 4px 0px 0px;"><p style="float:left;"><strong>Available Tests</strong></p><p style="float:right;"><a style="color:#0069D6;" href="javascript:void(0);" onclick="$(\'#tests\').multiSelect(\'select_all\');">Select All</a></p><div style="clear:both;"></div></div>',
		selectedHeader : '<div class="alert-message block-message-custom" style="padding: 7px 12px !important;border:none;border-bottom:1px solid #ccc;margin-bottom:0px;padding: 5px;-webkit-border-radius: 4px 4px 0px 0px;"><p style="float:left;"><strong>Selected Tests</strong></p><p style="float:right;"><a style="color:#0069D6;" href="javascript:void(0);" onclick="$(\'#tests\').multiSelect(\'deselect_all\');">Select None</a></p><div style="clear:both;"></div></div>'
	});

	$('.tabs').tabs()

	// $('.tabs').bind('change', function (e) {
 //  		//console.log(e.target) // activated tab
 //  		if ($(e.target).html() == "Pacman") {
 //  			$("#pacman").removeClass("hidden")
 //  		} else {
 //  			$("#pacman").addClass("hidden")
 //  		}
	// })

	//setTimeout(resize(), 500);
	resize()
	resize_test_container_sizes()
	window.moveTo((screen.width-675)/2,(screen.height-document.getElementById('content1').offsetHeight-400)/2);
});

function toggleSourceButton(el, index, type) {
	console.log($(el).html())
	if ($(el).html() == "View Coverage") {
		$(el).html("Hide Coverage").removeClass("primary");
	} else {
		$(el).html("View Coverage").addClass("primary");
	}
	$("#"+type+"_code_result_"+index).toggle();
	
	// if ($(el).html() == "Hide Coverage") {
	//  	$("#"+type+"_coverage_wrapper").animate({
	//       scrollTop: $(el).position().top - 165
	//   	}, 400);    
	// }            
}

$("#result_wrapper").height($(window).height() - 175)
$("#class_coverage_wrapper").height($(window).height() - 175)
$("#trigger_coverage_wrapper").height($(window).height() - 175)
$("#warnings_coverage_wrapper").height($(window).height() - 175)
$("#log_coverage_wrapper").height($(window).height() - 175)
$(window).resize(function() {
	$("#result_wrapper").height($(window).height() - 175)
	$("#class_coverage_wrapper").height($(window).height() - 175)   
	$("#trigger_coverage_wrapper").height($(window).height() - 175)
	$("#warnings_coverage_wrapper").height($(window).height() - 175)
	$("#log_coverage_wrapper").height($(window).height() - 175)
	resize_test_container_sizes()  
	resize_games()
});

$("#category").change(function() {
	if (this.value == "Apex_code") {
		$("#levelwrapper").show()
	} else {
		$("#levelwrapper").hide()
	}
})

jQuery.fn.selectText = function(){
	var doc = document;
	var element = this[0];
	console.log(this, element);
	if (doc.body.createTextRange) {
		var range = document.body.createTextRange();
		range.moveToElementText(element);
		range.select();
	} else if (window.getSelection) {
		var selection = window.getSelection();        
		var range = document.createRange();
		range.selectNodeContents(element);
		selection.removeAllRanges();
		selection.addRange(range);
	}
};

</script>