<div id="result_output">
	
</div>

<div class="content">
		
	<div id="form">
		<form class="form-stacked">
			<fieldset>
				<div class="clearfix">
					<label for="cn">Changeset Name</label> 
					<input class="xlarge" size="100" type="text" id="cn">
				</div>				      									
			</fieldset>
		</form>
	</div> 
		
	<div id="project_wrapper">
		<div id="treewrapper" style="height:100%">
			<div id="tree">
				<ul>
				<% project_array.each do |hash| %>
					<% 
						next if !hash[:children]
						next if hash[:children].size == 0
						class_name = (hash[:children] && hash[:children].size > 0) ? "folder" : "" 
					%>
					<li data="level: 1, hasChildTypes: <%=hash[:hasChildTypes]%>, inFolder: <%=hash[:inFolder]%>" id="<%= hash[:key] %>" class="<%= hash[:selected] %> folder level1"><%= hash[:title] %>					
						<% if hash[:children] %>
						<ul>
							<% hash[:children].each do |child| %>
								<% child_class_name = (child[:children] && child[:children].size > 0) ? "folder" : "" %>
								<li data="level: 2" id="<%= child[:key] %>" class="<%= child[:selected] %> <%= child_class_name %> level2"><%= child[:title] %>
								<% if child[:children] && child[:children].size > 0 %>
									<ul>
										<% child[:children].each do |gchild| %>
											<li data="level: 3" class="<%= gchild[:selected] %> level3"><%= gchild[:title] %>
												<% if gchild[:children] && gchild[:children].size > 0 %>
													<ul>
														<% gchild[:children].each do |ggchild| %>
															<li data="level: 4" class="<%= ggchild[:selected] %> level4"><%= ggchild[:title] %></li>
														<% end %>
													</ul>
												<% end %>
											</li>
										<% end %>
									</ul>
								<% end %>
								</li>
							<% end %>
						</ul>
						<% end %>
					</li>
				<% end %>
				</ul>
			</div>
			<div id="info"></div>
    	</div>
	</div>
</div>  
	
<form class="form-stacked" id="action_buttons">
	<fieldset style="padding-top:0px;">
		<div class="actions">					
			<input type="button" id="btnSubmit" class="btn primary" value="Create Changeset"  onclick="createChangeset();">
			&nbsp;
			<button type="reset" class="btn" onclick="window.close();">Cancel</button>
		</div>
	</fieldset>
</form>   
	
	<script type="text/javascript">
		var child_def = {}
        <% child_metadata_definition.each do |child| %>
        	child_def['<%= child[:tag_name] %>'] = '<%= child[:xml_name] %>';
	   	<% end %>  
			
		$(function() {		   
			//instantiate tabs
			
			var resizeHeight = $("#project_wrapper").height(); 
		    resizeAndCenterWindowByHeight(resizeHeight);

			$(window).resize(function() {
				$("#project_wrapper").height($(window).height() - 200)
			});  
					
			//resize elements
			$("#project_wrapper").height($(window).height() - 200)
			
			//instantiate and populate metadata tree
			$("#tree").dynatree({
				persist: false,
				checkbox: true,
				selectMode: 3
			}); 
			
		});
		
		function createChangeset() {
			$('#result_output').html(
				dispatch({
					controller: 'changeset', 
					action: 'create',   
					tree: get_tree(),
					name: $("#cn").val()
				})
			);
		}		
	</script>