<% script_tag = javascript_include_tag("jquery", "jqueryui", "tabs", "rb_gateway", "toggle", "dynatree2", "alerts") %>
<% style_tag = style_include_tag("bootstrap", "dynatree") %>
<html>
<head>
  	<title>MavensMate</title>
  	<% if ! @script_at_top %> 
    	<%= script_tag %>
  	<% end %>
		<%= style_tag %>
	<script type="text/javascript">
		<% support = ENV['TM_BUNDLE_SUPPORT'] %>
		var TM_BUNDLE_SUPPORT = '<%= support %>';
		window.onload=function() {
			document.getElementsByTagName("input")[0].focus();
		}
		
	//window.resizeTo(325, document.getElementById('wrapper').offsetHeight+22);
	</script>	  
	<style>
		input {
			height:30px !important; 
		}
		
		#mm_logger {
			display:none;
			height:200px;
			overflow-y:auto;
			padding:10px;
			border:1px solid #f2f2f2;
		}
		
		body {
			padding-top:50px;
		}
		
		.container {
			width: 100%;
			margin-left: 15px;
		}
	</style>
</head>
<body id='body'>
  	<div data-scrollspy="scrollspy" class="topbar">
      <div class="topbar-inner">
        <div class="container">
          <a href="#" class="brand">MavensMate</a>
        </div>
      </div>
    </div>
		<div id='debug'></div>
  	<div id='wrapper'>
			<% yield %>
		</div>
		<script type="text/javascript">
			//window.resizeTo(document.getElementById('wrapper').offsetWidth, document.getElementById('wrapper').offsetHeight+22);
			//window.resizeTo(325, document.getElementById('wrapper').offsetHeight+22);
			window.resizeTo(325, document.getElementById('wrapper').offsetHeight+72);
			try {
				$("#deploy_output").height(document.getElementById('wrapper').offsetHeight);
			} catch(e) { }
			window.moveTo((screen.width-325)/2,(screen.height-document.getElementById('wrapper').offsetHeight-400)/2);
		</script>
</body>

<%= @content_for_javascript %>
<% if params[:on_complete] %>
<script language="javascript">
	try {
    setTimeout(function() { a=1 }, 1)
  } catch(e) { $('debug').update("Error" + e + " - <br/><%= e_js params[:on_complete] %>")}
</script> 
<% end %>
</html>
