<div id="result_output" class="error">
	<div id="result_wrapper" style="padding:0px 10px;">
		<div class="alert-message error" style="display:none;">
			<p id="error_message"></p>
		</div>
		<div class="alert-message success" style="display:none;">
			<p id="success_message"></p>
		</div>		
	</div>
</div>


<div class="content">	
	<ul class="tabs">
		<li class="active"><a id="project_details_tab" href="#form">Project Details</a></li>
	</ul>
	
	<div class="pill-content">  
		<div id="form" class="active">
			<form class="form-stacked">
				<fieldset>
					<div class="clearfix">
						<label for="pn">Project Name</label> 
						<input class="xlarge" size="100" type="text" id="pn" value="<%= pname %>" disabled="true">
					</div>
					<div class="clearfix">
						<label for="un">Salesforce Username</label> 
						<input class="xlarge" size="100" type="text" id="un">
					</div>
					<div class="clearfix">
						<label for="pw">Salesforce Password</label> 
						<input class="xlarge" size="100" type="password" id="pw">
					</div>
					<div class="clearfix">
						<label for="server_url">Server URL</label> 
						<select id="server_url">
							<option>https://www.salesforce.com</option>
							<option>https://test.salesforce.com</option>
							<option>https://prerellogin.pre.salesforce.com</option>
						</select>
					</div>											
				</fieldset>
			</form>
		</div>

	</div>
</div>  
	
<form class="form-stacked" id="action_buttons">
	<fieldset style="padding-top:0px;">
		<div class="actions">					
			<input type="button" id="btnSubmit" class="btn primary" value="Create MavensMate Project"  onclick="newProjectFromExistingDirectory();">
			&nbsp;
			<button type="reset" class="btn" onclick="window.close();">Cancel</button>
		</div>
	</fieldset>
</form>   

	
	<script type="text/javascript">
		var mm_cpd = '<%= ENV["MM_CURRENT_PROJECT_DIRECTORY"] %>';
		var has_indexed_metadata = <%= File.exist? "#{ENV["MM_CURRENT_PROJECT_DIRECTORY"]}/config/.org_metadata" %>;
		
		function newProjectFromExistingDirectory() {
			console.log('creating mavensmate project')
			$.ajax({
				type: "POST",
				url: "http://127.0.0.1:7777/project/existing", 
				data: {
					pn: $("#pn").val(),
					un: $("#un").val(),
			    	pw: $("#pw").val(),
			    	server_url: $("#server_url").val(),
			    	where: "<%= ENV['MM_WORKSPACE'] %>",
			    	existing_location: "<%= existing_directory %>"

				},
				beforeSend: function() { showLoading('Creating MavensMate project'); },
				complete: function(data){
					console.log(data)
					var response = JSON.parse(data.responseText)
					if (response["success"] == false) {
						$("#error_message").html(response["message"])
						$(".alert-message.success").hide()
						$(".alert-message.error").show()
					} else {
						$("#success_message").html(response["message"])
						$(".alert-message.error").hide()
						$(".alert-message.success").show()
					}
					hideLoading();				
				} 
			});
		}
			
		$(function() {		   
			//instantiate tabs
			$('.tabs').tabs();
			
			var resizeHeight = $(".content").height(); 
		    resizeAndCenterWindowByHeight(resizeHeight);

			$(window).resize(function() {
				$(".content").height($(window).height() - 175)
			});  
			
			$("#pn").val("<%= pname %>");  

			//resize elements
			$(".content").height($(window).height() - 175)
						
			$(window).resize(function() {
				$(".content").height($(window).height() - 175)
			});

		});	
	
	</script>