<div id="result_output" class="error">
	<div id="result_wrapper" style="padding:0px 10px;">
		<div class="alert-message error" style="display:none;">
			<p id="error_message"></p>
		</div>
		<div class="alert-message success" style="display:none;">
			<p id="success_message"></p>
		</div>		
	</div>
</div>


<div class="content">
	
	<ul class="tabs">
		<li class="active"><a id="project_details_tab" href="#form">Project Details</a></li>
		<li><a href="#metadata">Project Metadata</a></li>
	</ul>
	
	<div class="pill-content">  
		<div id="form" class="active">
			<form class="form-stacked">
				<fieldset>
					<div class="clearfix">
						<label for="pn">Project Name</label> 
						<input class="xlarge" size="100" type="text" id="pn">
					</div>
					<div class="clearfix">
						<label for="un">Salesforce Username</label> 
						<input class="xlarge" size="100" type="text" id="un">
					</div>
					<div class="clearfix">
						<label for="pw">Salesforce Password</label> 
						<input class="xlarge" size="100" type="password" id="pw">
					</div>
					<div class="clearfix">
						<label for="server_url">Server URL</label> 
						<select id="server_url">
							<option>https://www.salesforce.com</option>
							<option>https://test.salesforce.com</option>
							<option>https://prerellogin.pre.salesforce.com</option>
						</select>
					</div>
					<div class="clearfix" style="margin-top:20px;">
						<input type="button" class="btn primary" value="Update Credentials" onclick="updateProjectCreds();">
					</div> 												
				</fieldset>
			</form>
		</div>
		<div id="metadata">
			<div id="project_wrapper">
		<div id="treewrapper" style="height:100%">
			<div id="tree">
				<ul>
				
				</ul>
			</div>
			<div id="info"></div>
		</div>
	</div>				
    	</div>
	</div>
</div>  
	
<form class="form-stacked" id="action_buttons">
	<fieldset style="padding-top:0px;">
		<div class="actions">					
			<input type="button" id="btnSubmit" class="btn primary" value="Update Project"  onclick="updateProject();">
			&nbsp;
			<button type="button" class="btn success" value="Refresh Metadata" onclick="index_org(true);">Refresh Metadata</button>
			&nbsp;
			<button type="reset" class="btn" onclick="window.close();">Cancel</button>
		</div>
	</fieldset>
</form>   

	
	<script type="text/javascript">
		var mm_cpd = '<%= ENV["MM_CURRENT_PROJECT_DIRECTORY"] %>';
		var has_indexed_metadata = <%= File.exist? "#{ENV["MM_CURRENT_PROJECT_DIRECTORY"]}/config/.org_metadata" %>;
		var operation;
		var child_def = {}
        <% child_metadata_definition.each do |child| %>
        	child_def['<%= child[:tag_name] %>'] = '<%= child[:xml_name] %>';
	   	<% end %>  
		
		function updateProjectCreds() {
			console.log('updating project creds')
			operation = "update_creds"
			$.ajax({
				type: "GET",
				url: "http://127.0.0.1:7777/auth", 
				data: {
					un: $("#un").val(),
			    	pw: $("#pw").val(),
			    	server_url: $("#server_url").val(),
			    	override_session: true,
			    	update_creds: true,
			    	pd: mm_cpd 
				},
				beforeSend: function() { showLoading('Updating project credentials'); },
				complete: function(data){
					console.log(data)
					var response = JSON.parse(data.responseText)
					check_status(response["id"])				
				} 
			});
		}

		function updateProject() {
			console.log('updating project')
			operation = "update"
			$.ajax({
				type: "POST",
				url: "http://127.0.0.1:7777/project/edit", 
				data: {
					tree: get_tree()
				},
				beforeSend: function() { showLoading('Updating project'); },
				complete: function(data){
					console.log(data)
					var response = JSON.parse(data.responseText)
					check_status(response["id"])
				} 
			});
		}

		function index_org(refresh) {
			console.log('indexing org')
			console.log(refresh)
			operation = "index"
			$.ajax({
				type: "GET",
				url: "http://127.0.0.1:7777/metadata/index", 
				data: {
					 mm_current_project_directory: mm_cpd,
					 do_refresh: refresh,
					 mode: "edit"
				},
				beforeSend: function() { showLoading('Indexing your Salesforce.com metadata.  This operation could take a while depending on the size of your org.<br/><br/>Thanks for being patient! :)'); },
				complete: function(data, status, xhr){
					console.log(data)
					var response = JSON.parse(data.responseText)
					check_status(response["id"])				
				} 
			});
		}

		function handle_response(response) {
			if (operation == "index") {
				if (response["success"] == false) {
					$("#error_message").html(response["message"])
					$(".alert-message.error").show()
				} else {
					$("#tree").dynatree("destroy")
					$("#tree ul").html(response["body"]);
					$("#tree").dynatree({
						persist: false,
						checkbox: true,
						selectMode: 3
					});
					$("#tree").dynatree("getRoot").visit(function(node) {
		        		node.expand(false);
		    		});  
					rootNode = $("#tree").dynatree("getRoot");
				}
				hideLoading();
			} else if (operation == "update") {
				if (response["success"] == false) {
					$("#error_message").html(response["message"])
					$(".alert-message.error").show()
				} else {
					$("#success_message").html("OK!")
					$(".alert-message.success").show()
				}
				hideLoading();
			} else if (operation == "update_creds") {
				if (response["success"] == false) {
					$("#error_message").html(response["body"] + "<a class=\"close\" href=\"#\">×</a>")
					$(".alert-message.success").hide()
					$(".alert-message.error").show()
				} else {
					$("#success_message").html(response["body"] + "<a class=\"close\" href=\"#\">×</a>")
					$(".alert-message.error").hide()
					$(".alert-message.success").show()
				}
				hideLoading();
			}
		}
			
		$(function() {		   
			//instantiate tabs
			$('.tabs').tabs();
			
			var resizeHeight = $("#project_wrapper").height(); 
		    resizeAndCenterWindowByHeight(resizeHeight);

			$(window).resize(function() {
				$("#project_wrapper").height($(window).height() - 175)
			});  
			
			<% 
				begin
					ppw = ppw.gsub!(/'/, '\'').gsub!(/\"/, '\"')  
					pname = pname.gsub!(/'/, '\'').gsub!(/\"/, '\"')  
				rescue

				end
			%>

			$("#pn").val("<%= pname %>");  
			$("#un").val("<%= pun %>");
			$("#pw").val("<%= ppw %>");
			$("#server_url").val("<%= pserver_url %>");
			
			$("#pn").prop('disabled', true);  
			//$("#un").prop('disabled', true);  
			//$("#pw").prop('disabled', true);  
			//$("#server_url").prop('disabled', true);  
							
			//resize elements
			$("#project_wrapper").height($(window).height() - 175)
			
			
			$(window).resize(function() {
				$("#project_wrapper").height($(window).height() - 175)
			});

			index_org(!has_indexed_metadata);
		});	

	</script>
